<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pieteikšanās</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">Mūsu veikals</div>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Sākums</a>
            <a href="{{ url_for('register') }}">Reģistrēties</a>
            <a href="{{ url_for('login') }}">Ienākt</a>
        </div>
    </nav>
    <div class="auth-container">
        <header class="auth-header">
            <h1>Ienākt</h1>
        </header>

    <div class="auth-container-form">
        <form method="POST" class="auth-form">
            <input class="input-field" type="text" name="username" placeholder="Lietotājvārds" required>
            <input class="input-field" type="password" name="password" placeholder="Parole" required>
            <button class="btn" type="submit">Ienākt</button>
            {% if error_message %}
                <div class="error-message">{{ error_message }}</div>
            {% endif %}
        </form>
    </div>
    </div>
    <footer>
        <p>&copy; 2025 Mūsu veikals. Visas tiesības aizsargātas.</p>
    </footer>
</body>
</html>
