<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Mans veikals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="navbar">
    <h1 class="nav-logo">Mans veikals</h1>
    <div class="nav-links">
        {% if 'username' in session %}
            <span class="sveiki">Sveiki, {{ session.username }}!</span>
            <a id="iziet" href="{{ url_for('logout') }}" class="btn">Iziet</a>
        {% else %}
            <a href="{{ url_for('register') }}" class="btn">Reģistrētie</a>
            <a href="{{ url_for('login') }}" class="btn">Ienākt</a>
        {% endif %}
    </div>
</header>
<main>
    <div class="container">
        <button onclick="openNewListModal()" class="add-list-btn">+ Jauns saraksts</button>

        <div id="lists-container">
            {% for list in lists %}
            <div class="item-list">
                <h3>{{ list.list_name }}
                    <a class="delete-list" href="{{ url_for('delete_list', list_id=list.id) }}">✕</a>
                </h3>
                <ul>
                    {% for product in products %}
                        {% if product.list_id == list.id %}
                        <li>
                            {{ product.product_name }}
                            <a class="delete-prod" href="{{ url_for('delete_product', product_id=product.id) }}">✕</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="{{ url_for('add_product', list_id=list.id) }}" method="POST">
                    <input class="prod-name" type="text" name="product_name" placeholder="Jauns produkts..." required>
                    <button type="submit">+</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
<div id="modal">
    <div class="modal-content">
        <span class="close" onclick="closeNewListModal()" >✕</span>
        <form action="{{ url_for('create_list') }}" method="POST">
            <input class="list-name" type="text" name="list_name" placeholder="Saraksta nosaukums..." required>
            <button type="submit">Izveidot</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<footer>
    <p>&copy; 2025 Mūsu veikals. Visas tiesības aizsargātas.</p>
</footer>
</body>
</html>
